kind: MasterConfiguration
apiVersion: kubeadm.k8s.io/v1alpha1
cloudProvider: openstack
kubernetesVersion: {{ k8s_version }}
unifiedControlPlaneImage: "gcr.io/google_containers/hyperkube-amd64:{{ k8s_version }}"
podSubnet: 192.168.0.0/16
token: {{ token }}
