apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v{{ k8s_version }}
networking:
  podSubnet: {{ pod_cidr }}
unifiedControlPlaneImage: "gcr.io/google_containers/hyperkube-amd64:v{{ k8s_version }}"
apiServerExtraArgs:
  cloud-provider: openstack
  cloud-config: /etc/kubernetes/pki/cloud-config
controllerManagerExtraArgs:
  cloud-provider: openstack
  cloud-config: /etc/kubernetes/pki/cloud-config