[Global]
auth-url={{ auth_url }}
user-id={{ user_id }}
password={{ password }}
tenant-id={{ tenant_id }}
region={{ region }}
[LoadBalancer]
use-octavia=yes
subnet-id={{ subnet_id }}
create-monitor=no
[BlockStorage]
bs-version=v2
