---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v{{ k8s_version }}
networking:
  podSubnet: {{ pod_subnet }}
unifiedControlPlaneImage: "gcr.io/google_containers/hyperkube-amd64:v{{ k8s_version }}"
apiServer:
  extraArgs:
    cloud-provider: "external"
    enable-admission-plugins: NodeRestriction,Initializers
    runtime-config: admissionregistration.k8s.io/v1alpha1=true
controllerManager:
  extraArgs:
    cloud-provider: "external"
