apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v{{ k8s_version }}
networking:
  podSubnet: {{ pod_subnet }}
unifiedControlPlaneImage: "gcr.io/google_containers/hyperkube-amd64:v{{ k8s_version }}"
cloudProvider: external
apiServerExtraArgs:
  enable-admission-plugins: NodeRestriction,Initializers
  runtime-config: admissionregistration.k8s.io/v1alpha1
controllerManagerExtraArgs:
  external-cloud-volume-plugin: openstack